# Dependencias
node_modules/

# Variables de entorno reales
.env

# Archivos de sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# DB
*.db
*.sqlite


# Cachés / builds
dist/
build/
.cache/

# Logs
*.log
npm-debug.log*
